<div class="row">
    <div class="col-md-8">
        <form (ngSubmit) = "AddPlanItem(f)" #f= "ngForm">
            <div class="row">
                <label for = "planName">Plan Name</label>
                <input  type="text"
                        class="form-control"
                        id="planName"
                        name="planName"
                        placeholder="Plan Name"
                        ngModel
                        required>
            </div>
            <div class="row">
                <label for = "financier">Financier</label>
                <input type="text"
                        placeholder="Financier"
                        id="financier"
                        class="form-control"
                        name="financier"
                        ngModel
                        required
                 >
            </div>
            <div class="row">
                <label for = "minAmount">Min Amount</label>
                <input type="text"
                       placeholder="Min Amount"
                       id="minAmount"
                       name="minAmount"
                       class="form-control"
                       ngModel
                       required
                       pattern="^[1-9] + [0-9]*$">
            </div>
            <div class="row">
                <label for = "maxAmount">Max Amount</label>
                <input type="text"
                       placeholder="Max Amount"
                       id="maxAmount"
                       name="maxAmount"
                       class="form-control"
                       ngModel
                       required
                       pattern="^[1-9] + [0-9]*$">
            </div>
            <div class="row">
                <label for="intrestRate">Intrest Rate</label>
                <input type="number"
                       placeholder="Intrest Rate"
                       id = "intrestRate"
                       name="intrestRate"
                       class="form-control"
                       ngModel
                       required>
            </div>
            <div class="row">
                <label for="emi">EMI</label>
                <input type="text"
                       placeholder="EMI"
                       id = "emi"
                       class="form-control"
                       name="emi"
                       ngModel
                       required>
            </div>
            <div class="row">
                <button type="submit"
                        class="btn btn-primary"
                        [disabled]="f.valid"
                        >Add</button>
                <button type="button" class="btn btn-secondary">Delete</button>
                <button type="button" class="btn btn-secondary">Clear</button>
            </div>
        </form>
    </div>
</div>